
html,body{
    margin: 0;
}
.main_wrapper{
    width: 1170;
}
.main_table{
    width: 60%;
    margin-left: 250px;
    margin-right: 200px;
    border-right: 1px solid rgb(190, 186, 186);
    border-left: 1px solid rgb(190, 186, 186);
    border-spacing: 0px;
    
}
#main_img{
    width: 150px;
    height: 100px;
    margin-right: 50px;
    margin-left: 300px;
}
#main_row{
    width: 100%;
    height: 300px;
    background-color: rgba(85,189,221,255);
}
h1{
    font-size: 30px;
    color: rgba(23,71,82,255);
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 20px;
}
.pre_main{
    font-size: 16px;
    color: #3e6d7d;
    font-weight: bold;
    margin-left: 60px;
    margin-bottom: 20px;
    text-align: left;
    width: 550px;
}
#column1{
    width: 350px;
}
h2{
    margin-top: 100px;
}
#col1_img{
    
    margin-left: 40px;
    margin-right: 10px;
    padding: 20px;
    width: 250px;
    height: 150px;
}

#col2_img{
    margin-right: 50px;
    padding: 20px;
    width: 250px;
    height: 150px;
}
#col1_p{
   
       margin-left: 60px;
    color: #3e6d7d;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    width: 250px;
}
#col2_p{
    margin-left: 20px;
    color: #3e6d7d;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    width: 250px;
}
.bottom{
    background-color: rgba(255,61,65,255)
    ;
}
#main_p1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #143642;
}
#main_txt{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;
}
#main_p2{
    text-align: center;
    color: white;
}
#main_p3{
    text-align: center;
    color: #143642;
}
#bottom_row{
    width: 100%;
    height: 100px;
    background-color: red;
    color: white;
   padding: 15px;
   
}
#bottom_row a{
  
    color: white;
}
#logo{
    width: 40px;
    height: 40px;
    padding: 10px;
    
}
#bottom_td{
    width: 140px;

}